
               <div style="float: left"> 
                  <div style="float: left">
                     <a class="navbar-brand" href="{% if page.lang != "fr" %}/index_{{ page.lang }}{% endif %}/#page-top">{{ site.t[page.lang].title }}</a>
                  </div>
                  <div style="float: left; clear: both">
                     <a class="navbar-brand navbar-subbrand" href="{% if page.lang != "fr" %}/index_{{ page.lang }}{% endif %}/#page-top">{{ site.t[page.lang].skills }}</a>
                  </div>
               </div>
