              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="hidden">
                          <a href="#page-top"></a>
                      </li>
                      <li class="page-scroll">
                          <a href="#portfolio">{{ site.t[page.lang].portfolio }}</a>
                      </li>
                      <li class="page-scroll">
                           <a href="#about">{{ site.t[page.lang].about }}</a>
                      </li>
                      <li class="page-scroll">
                          <a href="#contact">{{ site.t[page.lang].contact }}</a>
                     </li>
                  </ul>
               </div>
