
    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ site.t[page.lang].portfolio }}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% assign posts=site.posts | where:"lang", page.lang | sort: 'modal-id' %}
                {% for post in posts %}
                    <div class="col-sm-4 portfolio-item">
                        <div class="text-center">
                            <h3>{{ post.alt }}</h3>
                        </div>
                        <a href="{{ post.url }}" class="portfolio-link">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/portfolio/{{ post.img_thumb }}" class="img-responsive" alt="{{ post.alt }}">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
