---
layout: post
ingredients:
    - key: mousseline cream
      ingredients:
        - key: milk
          gram: 290
          unit: gram
        - key: castersugar
          gram: 60
          unit: gram
        - key: eggyolk
          quantity: 3
          gram: 54
        - key: ricefloor
          gram: 12
          unit: gram
        - key: cornfloor
          gram: 12
          unit: gram
        - key: vanilla bean
          quantity: 1/4
          gram: 2
        - key: butter
          gram: 190
          unit: gram
        - key: kirsch
          gram: 12
          unit: gram
    - key: genoise
      ingredients:
        - key: eggs
          quantity: 2
          gram: 120
        - key: castersugar
          gram: 60
          unit: gram
        - key: ricefloor
          gram: 60
          unit: gram
    - key: sirup
      ingredients:
        - key: water
          gram: 67
          unit: gram
        - key: castersugar
          gram: 80
          unit: gram
        - key: kirsch
          gram: 13
          unit: gram
    - key: assembling
      ingredients:
        - key: strawberries
          gram: 250
          unit: gram
        - key: marzipan
          gram: 75
          unit: gram




---
{{ content }}
