---
layout: default
---

{% include nav_post.html %}
<article>
  {% assign dico = site.t[page.lang] %}
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ page.title }}</h2>
        <hr class="star-primary" />
	<img src="/img/portfolio/{{ page.layout }}.jpg" class="img-responsive img-centered" alt="{{ page.title}}" />
      </div>
    </div>
    <div class="row">
      <h3>{{ dico.ingredient }} ({{ dico.molds[layout.mold] }})</h3>
    </div>
    {% for cat in layout.ingredients %}
      <div class="row">
    	<h4>{{ dico.ingredients[cat.key] }}</h4>
	    <ul>
    		{% for ingredient in cat.ingredients %}
		    {% if ingredient.quantity %}
		    <li>{{ ingredient.quantity }} {{ dico.ingredients[ingredient.key] }}</li>
		    {% elsif ingredient.gram %}
		    <li>{{ ingredient.gram }} {{ dico.units[ingredient.unit] }} {{ dico.of }} {{ dico.ingredients[ingredient.key] }}</li>
		    {% endif %}
		{% endfor %}
	    </ul>
      </div>	  
    {% endfor %}
    <div class="row">
        {{ content }}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="star-primary">
      </div>
    </div>
    <!--div class="row">
    	{% include disqus.html %}
    </div-->
  </div>
</article>
