---
layout: default
---

<article>
	
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ page.title }}</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      {% for cat in page.ingredients %}
	    <h3>cat</h3>
	    
      {% endfor %}
	  ingredients:
  biscuit:
    egg:
      guantity: 2
      gram: 120
    ricefloor:
      gram: 20
      unit: gram
    cornfloor:
      gram: 20
      unit: gram
    castersugar:
      gram: 40
      unit: gram
    icingsugar:
      gram: 5
      unit: gram
  crème:
    </div>	  
    <div class="row">
        {{ content }}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
    	{% include disqus.html %}
    </div>
  </div>
  
</article>
