---
layout: default
---

<article>
	
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ page.title }}</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      {% for cat in page.ingredients %}
	    {% assign name = cat.key %}
	    {{ cat }}
	 name   {{ name }}
	with point    {{ cat.biscuit }}
	With array    {{ cat[biscuit] }}
	<h3>{{ cat.biscuit.key }}</h3>
	    <ul>
	{% for ingredient in cat.ingredients %}
	{% if ingredient.quantity %}
		    <li>{{ ingredient.quantity }} {{ ingredient.key }}</li>
	{% elsif ingredient.gram %}
		    <li>{{ ingredient.gram }} {{ site.unit[ingredient.unit] }} {{ site.t[page.lang].of }} {{ ingredient.key }}</li>
	{% endif %}   
	{% endfor %}
	    </ul>
      {% endfor %}
    </div>	  
    <div class="row">
        {{ content }}
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
    	{% include disqus.html %}
    </div>
  </div>
  
</article>
